@page "/UserProduct/Detail/{id:guid}"

<h3>Detail</h3>
@attribute [Authorize]

@if (_pageState == PageState.Loading)
{
    <Loading />
}
else if (_pageState == PageState.NoData)
{
    <text>
        No Data...
    </text>
}
else if (_pageState == PageState.Error)
{
    <text>
        Loading Error...
    </text>
}
else
{
   @id
}

@code {
    [Parameter]
    public Guid id { get; set; }
    public PageState _pageState { get; set; } = PageState.Loading;

    protected override Task OnInitializedAsync()
    {
        _pageState = PageState.Loaded;

        return base.OnInitializedAsync();
    }
}
