@page "/UserProduct/Edit/{id:guid}"

@using PriceHunter.Web.Data.UserProduct.App
@attribute [Authorize]

<h3>Product Edit</h3>


@if (_pageState == PageState.Loading)
{
    <Loading />
}
else if (_pageState == PageState.NoData)
{
    <text>
        No Data...
    </text>
}
else if (_pageState == PageState.Error)
{
    <text>
        Loading Error...
    </text>
}
else
{
    <EditForm Model="model" OnValidSubmit="@HandleSave">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="model.Name" class="form-control w-50"></InputText>
            <br />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
}

@code {
    UserProductViewModel model = new UserProductViewModel();

    [Parameter]
    public Guid id { get; set; }
    private PageState _pageState { get; set; } = PageState.Loading;

    protected override Task OnInitializedAsync()
    {
        _pageState = PageState.Loaded;

        return base.OnInitializedAsync();
    }

    private async void HandleSave()
    { 

    }
}
