@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <span> Welcome @context.User.Claims.FirstOrDefault(p => p.Type == ClaimConstants.Name)?.Value </span>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
            <BlazoredToasts Position="ToastPosition.BottomRight"
                            Timeout="10"
                            IconType="IconType.FontAwesome"
                            SuccessClass="success-toast-override"
                            SuccessIcon="fa fa-thumbs-up"
                            ErrorIcon="fa fa-bug" />
        </article>
    </main>
</div>
