@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Profile />
        </div>
        <article class="content px-4">
            @Body
            <BlazoredToasts Position="ToastPosition.BottomRight"
                            Timeout="10"
                            IconType="IconType.FontAwesome"
                            SuccessClass="success-toast-override"
                            SuccessIcon="fa fa-thumbs-up"
                            ErrorIcon="fa fa-bug" />
        </article>
    </main>
</div>
