@page "/Login"

@using PriceHunter.Web.Data.Login
@using static PriceHunter.Web.Helpers.HttpRequester
@inject ILocalStorageService _localStorage
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authStateProvider
@inject IToastService _toastService
@inject HttpClient _http

<h3>Login</h3>

<EditForm Model="model" OnValidSubmit="@HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="model.Email" class="form-control" style="width:50%;"></InputText>
    </div>
    <div>
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="model.Password" type="password" class="form-control" style="width:50%;"></InputText>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    GetTokenRequest model = new GetTokenRequest();

    private async void HandleLogin()
    {
        try
        {
            var httpRequester = new HttpRequester(_http, _toastService);

            var result = await httpRequester.PostAsync<GetTokenRequest, GetTokenResponse>(AppConstants.V1ApiTokenUrl, model);
            if (result.IsSuccess)
            {
                await _localStorage.SetItemAsync<GetTokenResponse>(AppConstants.TokenStorageKey, result.Response.Data);
                await _authStateProvider.GetAuthenticationStateAsync();
                _navigationManager.NavigateTo(NavigationConstants.UserProfile);
            }

            //var result = await _http.PostAsJsonAsync(AppConstants.V1ApiTokenUrl, model);
            //var response = await result.Content.ReadFromJsonAsync<DataResponse<GetTokenResponse>>();

            //if (response.Status == ServiceStatusMessages.Success)
            //{
            //    await _localStorage.SetItemAsync<GetTokenResponse>(AppConstants.TokenStorageKey, response.Data);
            //    await _authStateProvider.GetAuthenticationStateAsync();
            //    _navigationManager.NavigateTo(NavigationConstants.UserProfile);
            //}
            //else
            //{
            //    var errorMessageBuilder = new StringBuilder();
            //    if (!string.IsNullOrEmpty(response.Message))
            //    {
            //        errorMessageBuilder.AppendLine(response.Message);
            //    }
            //    if (response.ValidationMessages != null && response.ValidationMessages.Any())
            //    {
            //        foreach (var error in response.ValidationMessages)
            //        {
            //            errorMessageBuilder.AppendLine(error);
            //        }
            //    }

            //    _toastService.ShowError(errorMessageBuilder.ToString());
            //}
        }
        catch (Exception ex)
        {
            _toastService.ShowError(ex.Message);
        }
    }
}