@page "/Logout" 

@inject ILocalStorageService _localStorage
@inject AuthenticationStateProvider _authStateProvider
@inject NavigationManager _navigationManager

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await _localStorage.RemoveItemAsync(AppConstants.TokenStorageKey);
        await _authStateProvider.GetAuthenticationStateAsync();
        _navigationManager.NavigateTo("");
    }
}
